<app-auth-layout [title]="'Reset pass'">
  <div class="h-full" auth-form>
    <!---Start Of Form-->
    <form [formGroup]="resetForm" (ngSubmit)="onResetPass()" class="pb-8">
      <!-- Email -->
      <app-form-field [control]="form['email']" type="email" icon="pi pi-envelope" label="RESET.EMAIL_LABEL"
        placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
    required: 'RESET.EMAIL_REQUIRED',
    email: 'RESET.EMAIL_INVALID'
  }">
      </app-form-field>

      <!-- OTP -->
      <app-form-field [control]="form['seed']" type="text" icon="pi pi-key" label="RESET.OTP_LABEL"
        placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
    required: 'RESET.OTP_REQUIRED'
  }">
      </app-form-field>

      <!-- Password -->
      <app-form-field [control]="form['password']" type="password" icon="pi pi-lock" label="RESET.PASSWORD_LABEL"
        placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
        required: 'RESET.PASSWORD_REQUIRED',
        pattern: 'RESET.PASSWORD_PATTERN'
      }">
      </app-form-field>

      <!-- Confirm Password -->
      <app-form-field [control]="form['confirmPassword']" type="password" icon="pi pi-lock"
        label="RESET.CONFIRM_PASSWORD_LABEL" placeholder="RESET.EMAIL_PLACEHOLDER" [errorMessages]="{
          required: 'RESET.CONFIRM_PASSWORD_REQUIRED'
        }" [customError]="
          resetForm.hasError('passwordMismatch') &&
          (form['confirmPassword'].touched || form['confirmPassword'].dirty)
        " customErrorMessage="RESET.PASSWORDS_DO_NOT_MATCH">
      </app-form-field>

      <div class="mt-[50px]">
        <p-button type="submit" [label]="'RESET.RESET_BUTTON' | translate" [loading]="loading()" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>
</app-auth-layout>
