<app-auth-layout [title]="'auth.reset.title' | translate">
  <div class="h-full" auth-form>
    <!-- Start Of Form -->
    <form [formGroup]="resetForm" (ngSubmit)="onResetPass()" class="pb-8">

      <!-- Email -->
      <app-form-field
        [control]="form['email']"
        type="email"
        icon="pi pi-envelope"
        [label]="'auth.reset.email_label' | translate"
        [placeholder]="'auth.reset.email_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.reset.email_required',
          email: 'auth.reset.email_invalid'
        }">
      </app-form-field>

      <!-- OTP -->
      <app-form-field
        [control]="form['seed']"
        type="text"
        icon="pi pi-key"
        [label]="'auth.reset.otp_label' | translate"
        [placeholder]="'auth.reset.email_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.reset.otp_required'
        }">
      </app-form-field>

      <!-- Password -->
      <app-form-field
        [control]="form['password']"
        type="password"
        icon="pi pi-lock"
        [label]="'auth.reset.password_label' | translate"
        [placeholder]="'auth.reset.email_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.reset.password_required',
          pattern: 'auth.reset.password_pattern'
        }">
      </app-form-field>

      <!-- Confirm Password -->
      <app-form-field
        [control]="form['confirmPassword']"
        type="password"
        icon="pi pi-lock"
        [label]="'auth.reset.confirm_password_label' | translate"
        [placeholder]="'auth.reset.email_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.reset.confirm_password_required'
        }"
        [customError]="
          resetForm.hasError('passwordMismatch') &&
          (form['confirmPassword'].touched || form['confirmPassword'].dirty)
        "
        customErrorMessage="auth.reset.passwords_do_not_match">
      </app-form-field>

      <div class="mt-[50px]">
        <p-button
          type="submit"
          [label]="'auth.reset.reset_button' | translate"
          [loading]="loading()"
          styleClass="w-full">
        </p-button>
      </div>

    </form>
  </div>
</app-auth-layout>
