:host ::ng-deep {
  .reset-btn.p-button {
    width: 150px;
    background: #fff;
    color: #000;
    border-color: #fff;
    padding: 20px;
  }

  .reset-btn .p-button-icon {
    color: #000;
  }
}
