:host ::ng-deep .add-btn.p-button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  transition: all 0.2s ease;
}

:host ::ng-deep .add-btn.p-button .pi {
  color: #fff;
}

:host ::ng-deep .add-btn.p-button:hover {
  background: #000;
  border-color: #000;
  color: #fff;
}

:host ::ng-deep .add-btn .p-button-icon {
  color: var(--surface-color);
  background-color: var(--dark-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-title{
  font-size: 20px;
}
