<app-auth-layout [title]="'auth.change_password.title' | translate">
  <div class="h-full" auth-form>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()" class="pb-8">
      <!-- Old Password -->
      <app-form-field
        [control]="form['password']"
        type="password"
        icon="pi pi-lock"
        [label]="'auth.change_password.old_password_label' | translate"
        [placeholder]="'auth.change_password.old_password_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.change_password.old_password_required',
        }"
      />

      <!-- New Password -->
      <app-form-field
        [control]="form['password_new']"
        type="password"
        icon="pi pi-lock"
        [label]="'auth.change_password.new_password_label' | translate"
        [placeholder]="'auth.change_password.new_password_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.change_password.new_password_required',
          pattern: 'auth.change_password.password_pattern',
        }"
      />

      <!-- Confirm Password -->
      <app-form-field
        [control]="form['confirmPassword']"
        type="password"
        icon="pi pi-lock"
        [label]="'auth.change_password.confirm_password_label' | translate"
        [placeholder]="'auth.change_password.confirm_password_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.change_password.confirm_password_required',
        }"
        [customError]="
          changePasswordForm.hasError('passwordMismatch') &&
          (form['confirmPassword'].touched || form['confirmPassword'].dirty)
        "
        customErrorMessage="auth.change_password.passwords_do_not_match"
      >
      </app-form-field>

      <div>
        <p-button
          type="submit"
          [label]="'auth.change_password.change_button' | translate"
          icon="pi pi-check"
          iconPos="right"
          [loading]="loading()"
          styleClass="form-btn"
        >
        </p-button>
      </div>
    </form>
  </div>
</app-auth-layout>
