.loader-overlay{
  height: 55vh;
}

:host ::ng-deep .loader-spinner {
  width: 7rem;
  height: 7rem;
}

:host ::ng-deep .loader-spinner .p-progressspinner-circle {
  stroke: var(--ultra-color) !important;
}
