<app-auth-layout [title]="'Forgot pass'">
  <div class="h-full" auth-form>
    <!-- Form -->
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="mb-[2rem]">
        <app-form-field [control]="form['email']" type="email" label="LOGIN.EMAIL_LABEL" placeholder="LOGIN.EMAIL_LABEL"
          [errorMessages]="{
            required: 'LOGIN.EMAIL_REQUIRED',
            email: 'LOGIN.EMAIL_INVALID'
          }">
        </app-form-field>
      </div>

      <!-- Submit -->
      <div class="mt-[50px]">
        <p-button type="submit" [label]="'FORGOT.BUTTON' | translate" [loading]="isLoading" styleClass="w-full">
        </p-button>
      </div>
    </form>
  </div>
</app-auth-layout>
