<app-auth-layout [title]="'auth.forgot.title' | translate">
  <div class="h-full" auth-form>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <app-form-field [control]="form['email']" type="email" icon="pi pi-envelope"
        [label]="'auth.reset.email_label' | translate" [placeholder]="'auth.reset.email_placeholder' | translate"
        [errorMessages]="{
          required: 'auth.reset.email_required',
          email: 'auth.reset.email_invalid'
        }">
      </app-form-field>

      <!-- Submit -->
      <div class="form-btn__container">
        <p-button type="submit" [label]="'auth.forgot.button' | translate" icon="pi pi-check" iconPos="right"
          [loading]="loading()" styleClass="form-btn">
        </p-button>
      </div>

    </form>
  </div>
</app-auth-layout>
