.group-card {
  border-color: #00000033;
  height: 80px;
  padding: 12px;

  h3 {
    color: var(--black-color);
    font-weight: 600;
    font-size: 18px;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
      cursor: pointer;
      color: var(--ultra-color);
      transform: translateX(3px);
    }
  }

  p {
    color: #0D1321CC;
    font-weight: 500;
    font-size: 13px;
  }
}

.action-btn {
  border: none;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: all .3s ease-in-out;
}


:host ::ng-deep .action-btn .pi {
  color: #000;
  font-size: 18px;
  transition: all .3s ease-in-out;
}

.action-btn:hover {
  border-radius: 2px;
  border-color: #000;
  color: #fff;
  background-color: var(--ultra-color);
}

:host ::ng-deep .action-btn:hover .pi {
  color: #fff;
}
