.lang-option {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.flag-icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 767px) {
  .lang-switcher {
    width: 50px !important;
  }

  :host ::ng-deep .lang-switcher .p-select-label {
    padding-inline: .5rem;
    justify-content: center;
  }

  :host ::ng-deep .lang-switcher .p-select-dropdown {
    display: none;
  }
  .lang-option {
    margin-left: 0.5rem;
  }
}

/* Desktop */
@media (min-width: 768px) {
  .lang-switcher {
    min-width: fit-content;
  }
}

